.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 92px);
    margin: -2rem;
    font-family: sans-serif;
    color: #333;
}

.dot-loader {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.dot-loader span {
    width: 12px;
    height: 12px;
    background-color: #3f4fb1;
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
}

.dot-loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.dot-loader span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0.6);
        opacity: 0.5;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }
}